<div class="main">
  <article class="main__container">
    <aside class="main__container--image">
      <img loading="lazy" class="lg-img" src="assets/image/bitmap_img.svg" alt="aside-img">
      <img loading="lazy" class="sm-img" src="assets/image/bitmap_sm.svg" alt="aside-img">
    </aside>
    <main class="main__container--content">
      <p class="subtext">PERFUME</p>
      <h1 class="title-text">Gabrielle Essence Eau De Parfum</h1>
      <p class="description">A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.</p>
      <h3 class="price">$149.99
        <span>$169.99</span>
      </h3>

      <button class="action-btn" type="button">
        <img src="../assets/image/cart.svg" alt="cart-icon">
        <span>Add to Cart</span>
      </button>
    </main>
  </article>
</div>
